In [1]:
import sqlite3

In [7]:
# creating connection

connection = sqlite3.connect("example.db")
connection

<sqlite3.Connection object at 0x10d295e40>

In [6]:
# creating cursor

cursor = connection.cursor()

In [8]:
# creating employee table
cursor.execute(
    """Create Table If Not Exists employee ( id Integer Primary Key, name Text Not Null, age Integer, department Text)"""
)

# commiting the changes

connection.commit()

In [9]:
cursor.execute("""Select * from employee""")

In [10]:
# inserting data into the table

cursor.execute(
    """ 
Insert into employee (name,age,department) values("Prem",22,"Data scientist")
"""
)


cursor.execute(
    """ 
Insert into employee (name,age,department) values("Peter Parker",22,"Spider Man")
"""
)

# commit the changes
connection.commit()

In [11]:
cursor.execute("Select * from employee")

rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Prem', 22, 'Data scientist')
(2, 'Peter Parker', 22, 'Spider Man')

In [12]:
# updating the records in the table

cursor.execute(
    """
Update employee Set age=23 where name="Prem"
"""
)

connection.commit()

In [13]:
cursor.execute("select * from employee")

rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Prem', 23, 'Data scientist')
(2, 'Peter Parker', 22, 'Spider Man')

In [15]:
# deleting a record from table
cursor.execute(
    """
Delete from employee where name="Prem"
"""
)

# commiting the changes
connection.commit()

In [16]:
cursor.execute("select * from employee")

rows = cursor.fetchall()

for row in rows:
    print(row)

(2, 'Peter Parker', 22, 'Spider Man')

In [29]:
connection.close()

In [30]:
# creating sales data


con = sqlite3.connect("sales.db")

In [19]:
cursor = con.cursor()

In [22]:
# creating a sales table

cursor.execute(
    """
Create Table If Not Exists sales(
    id Integer Primary Key,
    date Text Not Null,
    product Text Not Null,
    sales Integer,
    region Text
    )
"""
)

In [25]:
sales_data = [
    ("2024-10-06", "Iphone 16 pro", 1, "India"),
    ("2024-10-06", "Iphone Cases", 1, "India"),
    ("2023-10-06", "Iphone screen protector", 1, "India"),
]

In [26]:
cursor.executemany(
    """
insert into sales (date,product,sales,region) values (?,?,?,?)
""",
    sales_data,
)

con.commit()

In [28]:
cursor.execute("select * from sales")

rows = cursor.fetchall()
for row in rows:
    print(row)

(1, '2024-10-06', 'Iphone 16 pro', 1, 'India')
(2, '2024-10-06', 'Iphone Cases', 1, 'India')
(3, '2023-10-06', 'Iphone screen protector', 1, 'India')

In [31]:
con.close()